<% content_for :title do %><%= encyclopedia.name %><% end %>

<%- @entries.each do |entry| -%>
<article>
  <header>
    <h1><%= entry.title %></h1>
  </header>
  <p><%= entry.body %></p>
</article>
<%- end -%>

<p><%= link_to 'New article', new_article_path, class: 'btn btn-primary' %></p>
